.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
  position: relative;
}

.column-full,
.column-half {
  width: 100%;
}

.align-center {
  align-items: center;
}

.arrow-button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.biology-text,
.calories-text,
.carbohydrates-text,
.cholesterol-text,
.fat-content-text,
.health-benefits-text,
.habitat-text,
.fun-fact-text,
.species-name-text,
.taste-text {
  font-size: 0.9rem;
}

.image-arrows-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.image-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  height: 35rem;
  background-color: white;
}

.inner-div {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.select-tab-container {
  display: flex;
  margin-top: 20px;
}

.species {
  width: 120px;
  overflow: auto;
}

.text-align-center {
  text-align: center;
}

.form {
  position: absolute;
  bottom: 25px;
}

/* text boxes */
.species-name-text,
.calories-text {
  margin-top: 50px;
}

.species-name-text,
.fun-fact-text,
.calories-text,
.carbohydrates-text,
.cholesterol-text,
.fat-content-text,
.taste-text {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.biology-text,
.habitat-text,
.health-benefits-text {
  display: flex;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 1300px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .species {
    width: 220px;
    overflow: auto;
  }

  .biology-text,
  .calories-text,
  .carbohydrates-text,
  .cholesterol-text,
  .fat-content-text,
  .health-benefits-text,
  .habitat-text,
  .fun-fact-text,
  .species-name-text,
  .taste-text {
    font-size: 1rem;
  }
}
