.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  position: relative;
}

.column-full,
.column-half {
  width: 100%;
}

.column-full.inner {
  display: flex;
  justify-content: flex-end;
}

.row.view-container {
  background-color: #f5f7f7;
}

.align-center {
  align-items: center;
}

.button {
  width: 10rem;
  font-size: 14px;
  background-color: #c4c4c4;
  text-align: center;
  border-radius: 5px;
  height: 32px;
  line-height: 32px;
  margin: 0 5px;
  cursor: pointer;
}

.button.active {
  width: 10rem;
  background-color: #52e0f3;
  color: white;
  text-align: center;
  border-radius: 5px;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
}

.fav-button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.biology-text,
.calories-text,
.carbohydrates-text,
.cholesterol-text,
.fat-content-text,
.health-benefits-text,
.habitat-text,
.fun-fact-text,
.species-name-text,
.taste-text {
  font-size: 0.9rem;
}

.image-arrows-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.image-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  height: 35rem;
  background-color: #f5f7f7;
  position: relative;
}

.inner-div {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.li-item {
  margin-bottom: 50px;
}

.load-spinner {
  position: absolute;
}

.select-button-container {
  display: flex;
  margin-top: 20px;
}

.species {
  width: 120px;
  overflow: auto;
  margin: 0 5px;
}

.text-align-center {
  text-align: center;
}

.form {
  position: absolute;
  bottom: 25px;
}

/* text boxes */
.species-name-text,
.calories-text {
  margin-top: 50px;
}

.species-name-text,
.fun-fact-text,
.calories-text,
.carbohydrates-text,
.cholesterol-text,
.fat-content-text,
.taste-text {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.biology-text,
.habitat-text,
.health-benefits-text {
  display: flex;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .species {
    width: 220px;
    overflow: auto;
  }

  .biology-text,
  .calories-text,
  .carbohydrates-text,
  .cholesterol-text,
  .fat-content-text,
  .health-benefits-text,
  .habitat-text,
  .fun-fact-text,
  .species-name-text,
  .taste-text {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .arrow-link.prev-img {
    position: absolute;
    bottom: 5px;
    left: 50px;
  }

  .arrow-link.next-img {
    position: absolute;
    bottom: 5px;
    right: 50px;
  }

  .button {
    width: 5rem;
    font-size: 12px;
  }

  .button.active {
    width: 5rem;
    font-size: 12px;
  }

  .column-half.first {
    margin-right: 30px;
  }

  .del-button {
    margin-right: 10px;
  }

  .fav-p-element {
    margin-right: 20px;
  }
}
