* {
  font-family: "open sans", sans-serif;
}

h1 {
  font-family: "Proza Libre", sans-serif;
}

.arrow {
  font-size: 5rem;
  color: black;
}

.arrow-mobile {
  font-size: 5rem;
  color: black;
}

.arrow-link {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full.header {
  display: flex;
  background-color: #c4c4c4;
}

.del-button {
  width: 180px;
  height: 30px;
  background-color: darkred;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.favorites-h2 {
  margin-left: 100px;
}

.favorites-button {
  width: 180px;
  height: 35px;
  background-color: #efa058;
  border: none;
  color: white;
  cursor: pointer;
}

li {
  list-style: none;
}

main {
  width: 95%;
  height: 47rem;
  background-color: #f5f7f7;
  margin: 3rem auto;
}

.select-tab-container {
  height: 4rem;
}

select {
  height: 32px;
  border-radius: 5px;
}

.species-h3 {
  font-family: "Cormorant SC", serif;
}

.species-image {
  width: 85%;
  height: 35rem;
  object-fit: contain;
}

.species-image-fav {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}

.tab {
  width: 10rem;
  font-size: 14px;
  background-color: #c4c4c4;
  text-align: center;
  border-radius: 5px;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
}

.tab.active {
  width: 10rem;
  background-color: #52e0f3;
  color: white;
  text-align: center;
  border-radius: 5px;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
}

/* text boxes */

.biology-text,
.calories-text,
.carbohydrates-text,
.cholesterol-text,
.fat-content-text,
.fun-fact-text,
.habitat-text,
.health-benefits-text,
.species-name-text,
.taste-text {
  width: 100%;
  background-color: white;
  border: 0.5px solid black;
  border-radius: 5px;
  line-height: 1.5rem;
  overflow: auto;
}

.biology-text,
.habitat-text {
  height: 11rem;
}

.fun-fact-text,
.taste-text {
  height: 5rem;
}

.species-name-text,
.calories-text,
.carbohydrates-text,
.cholesterol-text,
.fat-content-text {
  height: 3.5rem;
}

.health-benefits-text {
  height: 4rem;
}
